/* estados */

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}
  
header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 80px;
    text-align: center;
    padding-top: 30px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}
  
nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}
  
nav a {
    color: var(--cor1);
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}
  
nav a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

h2 {
    background-color: var(--cor4);
    font-family: var(--fonte-destaque);
    /* background-color: #4a4a4a; */
    color: white;
    font-size: 23pt;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

form {
    background-color: var(--cor3);
    padding: 10px;
    /* background-color: #7b7b7b; */
    color: white;
    font-size: 15pt;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

form, label {
    color: black;
}

button.formulario {
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}

table, th, td {
    background-color: white;
    border: 1px solid black;
    text-align: center;
    font-size: 15pt;
}